
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}


html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Arial', sans-serif;
}


/* lAYOUT STYLES */
.app-container {
  display: flex;
}

.content-area {
  flex-grow: 1;
  padding-left: 20px;
  padding-top: 20px;
}




/* SIDEBAR STYLES */

.sidebar {
  height: 100vh;
  width: 250px;
  background-color:#000 ;
  color: #E7B8A5;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  font-family: 'Segoe UI', sans-serif;
  border-right: 2px solid #E7B8A5;
}
.sidebar .logo{
  font-size: 24px;
  font-weight: bold;
  color: #E7B8A5;
  margin-bottom: 30px;
}
.sidebar .nav-links{
  list-style-type: none;
  padding: 0;
}
.sidebar .nav-links li{
  margin-bottom: 20px;
}
.sidebar .nav-links li a {
  color: #E7B8A5;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s;
}
.sidebar .nav-links li a:hover{
  background-color: #B76E79;
  color:#ffffff;

}
/* NAVBAR STLES */


.navbar{
  height: 60px;
  background-color: #36454f;
  color: #E7B8A5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: calc(100% - 250px);
  left: 250px;
  

}
.navbar .search-bar input{
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  width: 300px;
}
.navbar .profile{
  display: flex;
  align-items: center;
}
.profile-img {
  border-radius: 50%;
  margin-left: 15px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 2px solid #E7B8A5;
}

.navbar .profile span {
  color: #FFFFFF;
  font-size: 16px;
}

/* Main Content*/
.main-content {
  margin-left: 250px; 
  margin-top: 60px; 
  padding: 20px;
}

.main-content h1 {
  font-size: 28px;
  color: #2C3E50;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 18px;
  color: #7F8C8D; 
}

/* PRODUCTS */

.product-management {
  padding: 20px;
  padding-top: 5%;
  margin-left: 250px;
  
}
.add-product-form {
  margin-bottom: 2rem;
}
.add-product-form input {
  margin-right: 15%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.add-product-form button {
  padding: 0.7rem 1.5rem;
  background-color: #ff9f9f;
  border: none;
  color: white;
  cursor: pointer;
}
.add-product-form button:hover {
  background-color: #ff6262;
}
table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table th, table td{
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;

}

table th {
  background-color: #f4f4f4;

}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

 table td button {
  padding: 6px 12px;
  margin-right: 0.5rem;
background-color: #ff5c5c;
border: none;
cursor: pointer;

}

button:hover{
  background-color: #ff0000;
}

.login-form{
  width: 300px;
  margin:100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}
.login-form button{
  width: 100%;
  padding: 10px;
  background-color: #2C3E50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.login-form button:hover {
  background-color: #34495E;
}